[Unit]
Description=Netbox
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
#ExecStartPre=/usr/bin/docker pull redis:5-alpine
ExecStart=/usr/bin/docker run --name %n -p 8001:8001 --network=netbox --net-alias netbox netbox


[Install]
WantedBy=multi-user.target
